<div class = "task_margin"> 
    {{#with newRecord}}
    {{> backToDashboard}}
    {{/with}}

    <div class="history">
        <h1>Blood Sugar</h1>
        <img src="/image/Graph.svg" alt="graph" id = "line_graph">
    </div>

    <div class="t_record" >
        {{#with newRecord}}
        {{#ifRecorded bloodSugar.status}}
        <button id= "task_record" style="color: #707070;">Recorded</button>
        {{else}}
        <button id= "task_record">Record</button>
        {{/ifRecorded }}
        {{> addRecord}}
        {{/with}}
    </div>

    
    <div id = "desk_input_box">
        {{#with newRecord}}
        <form action="" method = "POST">
            <div class = "input_1">
                {{#ifUnrecorded bloodSugar.status}}
                <input type="text" name="measurement" placeholder="Measurement :" required>
                {{else}}
                <p class = "recorded_data">{{bloodSugar.value}}</p>
                {{/ifUnrecorded}}
                <p class = "unit">nmol/L</p>
            </div>

            <div class= "input_1">
                {{#ifUnrecorded bloodSugar.status}}
                <input placeholder="Date:" name="date" class="inputDate" type="text" onfocus="(this.type='date')"  id="date"> 
                {{else}}
                <p class = "recorded_data">{{recordDate}}</p>
                {{/ifUnrecorded}}
                <p class = "unit">&ensp;&ensp;&ensp;&ensp;</p>
            </div>
            <div class = "input_1">
                {{#ifUnrecorded bloodSugar.status}}
                <input placeholder="Time:" name="time" class="inputTime" type="text" onfocus="(this.type='time')"  id="time"> 
                {{else}}
                <p class = "recorded_data">{{bloodSugar.time}}</p>
                {{/ifUnrecorded}}
                <p class= "unit">&ensp;&ensp;&ensp;&ensp;</p>
            </div>

            <div class="ipad_record_button">
                {{#ifUnrecorded bloodSugar.status}}
                <button class= "i_record_upload" type="submit">Submit</button>
                {{else}}
                <button class = "i_record_upload">Submitted</button>
                {{/ifUnrecorded}}
            </div>
        </form>
        {{/with}}
    </div>
    

{{!-- Comment Section --}}
    <div class="t_comment">
        <h3>Comment</h3>
        
        {{#with newRecord}}
        {{>addComments}}
        {{/with}}
    </div>
        {{!-- <p class = "small_title">Comment</p>
        <div class ="comment_record">
            <textarea class = "commentArea" placeholder = "Enter Comments for last record." cols= "36" rows= "8"></textarea>
            <div class= "save_button">
                <button class= "save">Save</button>
            </div>
        </div>
        <div class ="history_comment">
            <button class= "record" id= "bloodsugar_more_comment">
                See more<i class="fa-solid fa-angle-right">&nbsp;</i>
            </button>
        </div> --}}
    {{!-- </div> --}}
    {{!-- <span>See more comment</span><i class="fa-solid fa-angle-right">&nbsp;</i></button> --}}

{{!-- Tips Section--}}
    <div class = "task_tips">
        <h3>Tips: </h3>
        <p class="summary"><b>Eat more Nuts and Seeds</b></p>
        <p class="content">
            A low intake of nuts and seeds was potentially 
            linked to an increased risk of death
            from heart disease, stroke, or type 
            2 diabetes.
        </p>
        {{!-- 链接后端 --}}
        {{!-- <h6>{{thisText.title}}</h6>
        <p>{{thisText.content}}</p> --}}
    </div>

    {{#with patientInfo}}
    {{> nav}}
    {{/with}}
    
</div>


<script>
//var modal = document.getElementById("modal");
var input_box = document.getElementById("input_box");

// Get the button that opens the popup
var btn_record = document.getElementById("task_record");

btn_record.onclick = function(){
    input_box.style.display = "block";
    modal.style.display = "block";
}

// click submit close the window!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
var save_button = document.getElementsByClassName("save")[0];
save_button.onclick = function(){
    input_box.style.display = "none";
}

var back_button = document.getElementsByClassName("return")[0];
back_button.onclick = function(){
    input_box.style.display = "none";
}

 //!event.target.closest("#modal")
</script>

