<div class="patient_margin">
    {{#with patientInfo}}
    {{!-- greeting block --}}
    <div id="greeting">
        <h1>Hello, {{screenName}}</h1>
        <p class="support_message">{{supportMessage}}</p>
    </div>

    {{!-- remind patient today's role --}}
    <div id="todo_list">
        <div id="today_requirment">
            <ol>
                <li>Record Blood Sugar today 7AM after breakfast</li>
                <li>Walk at least 25 minutes today</li>
                <li>Drink more water</li>
                <li>Do not eat things with sugar</li>
                <li>Record Exercises before go to bed</li>
                <li>Sleep earlier</li>
            </ol>
        </div>
        <div id="today_engagment">
            <img src="/image/Artboard 8.svg" id="engagement_rate">
        </div>
    </div>

    {{!-- leaf section --}}
    <div id="today_reward">
        <p class="summary">
            <img id="leaf" src="/image/Artboard 10.svg" alt="Leaf">x{{unfinishedTaskNum}} to be collected
        </p>
    </div>


    <div id="tasks">

        {{!-- patient task buttons --}}
        {{#each needToDo}}
        {{#ifNeed this.status}}
        <div class="task">
            <a href="/patient/{{../_id}}/PatientBloodSugarPage">
                <img src="/image/{{@key}}.svg" alt="{{@key}} image" class="task_image">

                {{#ifUnrecorded this.status}}
                <img src="/image/unrecorded.svg" alt="Done!" class="submit">
                {{else}}
                <img src="/image/recorded.svg" alt="Done!" class="submit">
                {{/ifUnrecorded}}

                <p>{{#getUpper @key}} {{/getUpper}}</p>

            </a>
        </div>
        {{/ifNeed}}
        {{/each}}

    </div>

    {{!-- tips section --}}
    <div class="tips">
        <h3>Tips:</h3>
        <p class="summary">Eat more Nuts and Seeds</p>
        <p class="content">
            A low intake of nuts and seeds was potentially
            linked to an increased risk of death
            from heart disease, stroke, or type
            2 diabetes.
        </p>
    </div>

    {{/with}}

    {{!-- footer --}}
    {{>footer}}

    {{!-- nav bar --}}
    {{#with patientInfo}}
    {{>nav}}
    {{/with}}
</div>